In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [2]:
from linreg import LinearRegression as LinReg

In [3]:
df = pd.read_csv('house_data.csv')

In [4]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,yr_built
0,221900.0,3,1.00,1180,5650,1.0,3,7,1955
1,538000.0,3,2.25,2570,7242,2.0,3,7,1951
2,180000.0,2,1.00,770,10000,1.0,3,6,1933
3,604000.0,4,3.00,1960,5000,1.0,5,7,1965
4,510000.0,3,2.00,1680,8080,1.0,3,8,1987

In [5]:
y = df['price']

In [6]:
X = df.loc[:,'bedrooms':]

In [7]:
y = y > y.mean()

In [8]:
y = y.astype('float64')

In [9]:
X.shape

(21613, 8)

In [13]:
X.to_csv('../logreg/X.csv', index=False)

In [14]:
y.to_csv('../logreg/y.csv', index=False)

In [10]:
lr.predict(X)

TypeError: item 4 in _argtypes_ has no from_param method